<table mat-table [dataSource]="crewList" class="mat-elevation-z8 full-width-table">

    <!-- Actions Column -->
    <ng-container matColumnDef="actionMenu">
        <th mat-header-cell *matHeaderCellDef> Action Menu </th>
        <td mat-cell *matCellDef="let crew">
            <button mat-icon-button [matMenuTriggerFor]="actionMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actionMenu="matMenu">
                <button mat-menu-item (click)="goToCrewCard(crew.id)">
                    <mat-icon>person</mat-icon> Crew Card
                </button>
                <button mat-menu-item (click)="openEditPopup(crew)">
                    <mat-icon>edit</mat-icon> Edit Crew
                </button>
                <button mat-menu-item (click)="deleteCrew(crew.id)">
                    <mat-icon>delete</mat-icon> Delete Crew
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.firstName }} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.lastName }} </td>
    </ng-container>

    <!-- Nationality Column -->
    <ng-container matColumnDef="nationality">
        <th mat-header-cell *matHeaderCellDef> Nationality </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.nationality }} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.title }} </td>
    </ng-container>

    <!-- Days On Board Column -->
    <ng-container matColumnDef="daysOnBoard">
        <th mat-header-cell *matHeaderCellDef> Days On Board </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.daysOnBoard }} </td>
    </ng-container>

    <!-- Daily Rate Column -->
    <ng-container matColumnDef="dailyRate">
        <th mat-header-cell *matHeaderCellDef> Daily Rate </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.dailyRate }} {{ crew.currency }} </td>
    </ng-container>

    <!-- Total Income Column -->
    <ng-container matColumnDef="totalIncome">
        <th mat-header-cell *matHeaderCellDef> Total Income </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.totalIncome }} {{ crew.currency }} </td>
    </ng-container>

    <!-- Certificates Column -->
    <ng-container matColumnDef="certificates">
        <th mat-header-cell *matHeaderCellDef> Certificates </th>
        <td mat-cell *matCellDef="let crew">
            <button mat-button color="primary" (click)="openCertificatesModal(crew)">
                Certificates
            </button>
        </td>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Data Row -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>