.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.navbar-lower {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.left-section {
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    align-items: center;
}

.spacer {
    flex-grow: 1;
}

mat-toolbar {
    background-color: #1976d2 !important;
    color: white;
}